/**
 *
 *
 * Custom CSS classes to use with framework
 *
 */
h1,h2,h3,h4,h5,h6 
{ 
	margin:0 0 3px;color:#666;line-height:normal; }

h1 { font-size:28px;font-weight:bold;font-family: Georgia,Times,"Times New Roman",serif;color:#007BCD;}
h2 { font-size:18px;font-weight:bold;font-family: Georgia,Times,"Times New Roman",serif;color:#007BCD;border-bottom:1px solid #007BCD;}
h3 { font-size:16px; color:#000000 ;font-weight:bold;font-family: Georgia,Times,"Times New Roman",serif;}
h4 { font-size:13px; color:#333333;font-weight:bold;}
h5 { font-size:11px; color:#333;}
h6 { font-size:10px;}

.page
{
	margin-top: 0px;
	margin-bottom: 0px;
	background-color:#FFFFFF;
	border-left: 2px solid #EEEEEE; 
	border-right: 2px solid #EEEEEE; 
}

.top
{
	background-color:#007BCD;
	padding-bottom:0px;
	height:84px;
}

.topmenu
{
    overflow: hidden;
    padding: 1px;
	margin: 1px;
	color:#FFFFFF;
	font-size  :12px;
	font-weight:bold;
}

.topmenu a
{
	color:#FFFFFF;
	font-size  :12px;
}

.body
{
	background-color:#FAF9F9;
}

.header
{
	margin: 0px;
	padding: 0px;
	background-color:#007BCD;
	height:84px;
}
.search
{
	padding-top:20px;
	vertical-align:middle;
}

.search input
{
	height:24px;
}
.loginTop
{
 	color:#FFFFFF;
	font-size  :12px;
	margin: 0px;
	padding:0px
}
.loginTop input
{
	height:19px;
}
.loginTop .button
{
	height:22px;
}
.loginTop a
{
	color:#FFFFFF;
	font-size  :10px;
}

.rememberMeLogin
{
	font-size  :10px;
	padding-top: 2px;
}
.rememberMeLogin input {
    width: 13px;
    height: 13px;
    padding: 0px;
    margin:0px;
    vertical-align: top;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.button
{
    background: #7CD54B;
    border: 1px solid #5C9C36;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
    color:#FFFFFF;
    display: inline-block;
    outline: none;
    padding-left:8px;
    padding-right:8px;
    paddig-top:8px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #438320;
    text-align:center;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-weight:bold;
    font-size  :12px;
}
.button a
{
	color:#FFFFFF;
}
a.button 
{
	color:#FFFFFF;
}
a.button:hover 
{
    color: #FFFFFF;
}
 a.button:focus 
{
	
}
.doc
{
	margin:2px;
	padding:10px;
	font-family:  Georgia,Times,"Times New Roman",serif;
	font-size:14px;
	text-align: justify;
}

.content
{
    padding:16px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

.fblike
{
	marging: 0px;
	padding-top: 2px;
	height:18px;
}


.logo
{
	padding-top: 0px;
}

#mainmenu
{
	background-color:#007BCD;
	font-size  :12px;
	font-weight:bold;
	padding-top:0px;
}
#mainmenu ul 
{
	list-style-type:none;
	padding-left:20px;
	margin:0px;
}
#mainmenu ul li 
{
float:left;
margin-right:5px;
}
#mainmenu li ul li
{
float:none;
display:block;
}
#mainmenu ul li a
{
padding:5px;
padding-bottom:none;
text-decoration:none;
font-size:12px;
color:#FFFFFF;
}
#mainmenu ul li ul 
{
display:none;
border-top:none;
padding:0px;
margin:0px;
position: absolute;
background-color:#FFFFFF;
box-shadow: 6px 6px 6px black;
border-radius: 0px 0px 0px 0px; 
}
#mainmenu ul li:hover a
{
color:#007BCD;
background-color:#FFFFFF;
}
#mainmenu ul li a:hover
{
color:#007BCD;
}

#mainmenu ul li:hover ul 
{
display:block;
position:absolute;
margin:0px;
padding:0px;
}
#mainmenu ul li:hover ul li 
{
margin:5px;
padding:1px;
}
#mainmenu ul li:hover ul li a
{
color:#007BCD;
border:none;
background-color:transparent;
}
#mainmenu ul li:hover ul li:hover {
background-color:#007BCD;
}
#mainmenu ul li:hover ul li a:hover
{
color:white;
}
#mainmenu ul li.active a
{
/*color:#000000;*/
}
#mainmenu ul li.active ul li a
{

}
.home
{
	margin:0px;
	padding:3px;
	padding-top:0px;
	padding-bottom:0px;
	
}
.home .carriere
{
	font-size:20px;
	font-weight:bold;
	font-family:Georgia,Times,"Times New Roman",serif;
	color:#FF0000;
	padding-top:0px;
	padding-bottom:0px;

}
.home .networking
{
	font-size:20px;
	font-weight:bold;
	font-family:Georgia,Times,"Times New Roman",serif;
	color:#7CD54B;
	
}
.home .business
{
	font-size:20px;
	font-weight:bold;
	font-family:Georgia,Times,"Times New Roman",serif;
	color:#007BCD;
}
.signup
{
	border: 2px solid #EEEEEE; 
	margin: 5px; 
	padding-left: 20px;
	background-color:#FAF9F9;
}
.signup input
{
	height:19px;
}
.signup .button
{
	background: #7CD54B;
    border: 1px solid #5C9C36;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
    color:#FFFFFF;
    display: inline-block;
    outline: none;
    padding-left:8px;
    padding-right:8px;
    paddig-top:0px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #438320;
    text-align:center;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-weight:bold;
    font-size  :14px;
    height:24px;
}
#form-inscription
{
width:300px;
text-align:left;
}
#form-inscription-title
{
text-align:right;
}
#inbox, #infobox
{
border:1px solid #007BCD;
border-top:none;
background:#ffffff;
}
#inbox .title, #infobox .title
{
	border:none;
	border-top:1px solid #007BCD;
	border-bottom:1px solid #007BCD;
	padding:3px;
	background-color:#007BCD;
	color:white;
	height:20px;
	font-size  :13px;
	font-weight:bold;
}
#infobox .body
{
	border:none;
	padding-right:0px;
	background-color:#FFFFFF;
}
#inbox .body
{
	border:none;
	padding:4px;
	background-color:#FFFFFF;
}
.vmenu
{
	padding:4px;
	marging:2px;
}
.vmenu .element
{
	height:15px;
	padding:0px;
	padding-top:3px;
	padding-bottom:4px;
}
.vmenu .element a
{
	font-size  :12px;
	font-weight:bold;
	text-decoration:underline;
}
.vmenu .element:hover
{
	background-color:#EEEEEE;
	color:#007BCD;
}
.tips
{
	width:262px;
	border: 1px solid #7CD54B; 
	margin:2px;
	margin-left: 4px; 
	padding: 4px;
	background-color:#FFFFFF;
	padding-top:8px;
	font-size  :18px;
	color:#007BCD;
	font-family: 'Tahoma', serif;
	font-weight:bold;
}

.tips .title
{
	
	border:none;
	border-top:1px solid #7CD54B;
	border-bottom:1px solid #7CD54B;
	padding:4px;
	background-color:#FFFFFF;
	color:#7CD54B;
	height:20px;
	font-size  :16px;
	font-weight:bold;
	
}
.tips a
{
	font-size  :15px;
	font-family: Georgia,Times,"Times New Roman",serif;
	font-weight:bold;
	text-decoration:underline;
	
}
.infobox
{	
	font-size: 13px;
	font-weight: bold;
	font-color: red;
	padding: 0px;
	margin: 0px;
	color: red;
}

.infocontent
{
	box-shadow: 1px 1px 1px 1px #007BCD; 
	border: 1px solid #007BCD; 
	margin: 1px; 
	padding:4px;
}

.vcard
{
	border-bottom: 1px solid #EEEEEE; 
	margin: 0px; 
	padding-top: 2px;	
	padding-bottom: 2px;		
	font-size  :12px;
}
.vcard:hover
{
	color:#007BCD;
	background-color:#EEEEEE;
}
.contact
{
	margin: 2px; 
	padding: 6px;	
	font-size  :12px;
	border-bottom: 1px solid #007BCD;
}

.contact .title
{
	margin: 0px; 
	padding: 1px;	
	font-size  :15px;
	font-weight:bold;
}
.newscard
{
	border-top: 1px solid #EEEEEE; 
	margin: 0px; 
	padding:10px;
	font-size  :14px;
}
.comments
{
	border: 1px solid #EEEEEE; 
	margin: 4px; 
	padding:4px;
	font-size  :14px;
}
.formatnews
{ 
	margin: 2px; 
	padding: 4px;
}
.card
{
	border: 2px solid #EEEEEE; 
	margin: 5px; 
	padding: 8px;
	background-color:#FAF9F9;
}
.card input
{
	height:20px;
}
.business-card
{
	border-radius: 5px; 
	box-shadow: 3px 3px 3px 3px #001029; 
	border: 1px solid #002966; 
	margin: 5px 10px 20px 10px; 
	padding: 10px; padding-top: 10px; 
	padding-bottom: 10px;
}
.statut
{
	height:20px;
}
.welcome
{
	border: 0px solid black; 
	margin-bottom: 10px;
	font-size: 2.5em; 
	color: #3090C7;
	text-align: center;
}

.memo
{
	border: 0px solid red; 
	padding: 5px; 
	margin-bottom: 10px;
	font-size: 1.3em; 
	color: #3090C7 ; 
	font-style: italic;
}


.infobox .foot
{

}

.footer
{
	background-color:#007BCD;
    height: 20px;
    overflow: hidden;
    padding: 0px;
	margin: 0px;
	color:#FFFFFF;
	text-align: center;
	font-size  :12px;
	font-family: 'Arial', serif;
	font-weight:normal;
}

.footermenu
{
    background-color:#FFFFFF;
    overflow: hidden;
    padding: 15px;
	margin: 5px 5px;
	border-top:1px solid #007BCD;
	text-align: center;
	font-size  :12px;
	font-weight:normal;
}

.footermenu a
{
	color:#007BCD;
}
.footermenu a:hover
{
	text-decoration:underline;
}
.ftformat
{
	border-right:1px solid #007BCD;
}